<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="BaseUrl" value="https://www.dndbeyond.com/profile/" />
    <add key="Cloron" value="Awesomator/characters/14820937" />
    <add key="SaveDataLocation" value="F:\DnDBeyondCharacterInfo\"/>
  </appSettings>
</configuration>